Repository dawsonblock/Liquid-Hive-Upgrade, changes with the owners that .github/CODEOWNERS names for each.
All owners: @liquid-hive/core-team, @liquid-hive/devops-team, @liquid-hive/security-team, @liquid-hive/backend-team, @liquid-hive/algorithms-team, @liquid-hive/docs-team, @liquid-hive/frontend-team, @liquid-hive/sdk-team

.github/CODEOWNERS:

# Global owners - these users will be requested for review when someone opens a pull request
* @liquid-hive/core-team

# CI/CD and Infrastructure
/.github/ @liquid-hive/devops-team
/helm/ @liquid-hive/devops-team
/k8s/ @liquid-hive/devops-team
/prometheus/ @liquid-hive/devops-team
/grafana/ @liquid-hive/devops-team
/docker-compose.yml @liquid-hive/devops-team
/Dockerfile @liquid-hive/devops-team
/Makefile @liquid-hive/devops-team

# Security and Configuration
/config/ @liquid-hive/security-team
SECURITY.md @liquid-hive/security-team
.secrets.baseline @liquid-hive/security-team
/src/unified_runtime/security.py @liquid-hive/security-team
/src/safety/ @liquid-hive/security-team

# Core Runtime and Routing
/src/unified_runtime/ @liquid-hive/backend-team
/src/oracle/ @liquid-hive/backend-team

# Planner and Arena Services  
/src/capsule_brain/planner/ @liquid-hive/algorithms-team
/src/unified_runtime/arena.py @liquid-hive/algorithms-team

# Documentation
/docs/ @liquid-hive/docs-team
README.md @liquid-hive/docs-team
CONTRIBUTING.md @liquid-hive/docs-team

# Frontend (if applicable)
/frontend/ @liquid-hive/frontend-team

# Tests require review from relevant domain experts
/tests/test_planner.py @liquid-hive/algorithms-team
/tests/test_arena.py @liquid-hive/algorithms-team
/tests/test_ds_router.py @liquid-hive/backend-team
/tests/test_secrets_management.py @liquid-hive/security-team
/tests/test_admin_guards.py @liquid-hive/security-team

# Package configuration
requirements.txt @liquid-hive/backend-team
pyproject.toml @liquid-hive/devops-team
/frontend/package.json @liquid-hive/frontend-team

# SDKs
/sdks/ @liquid-hive/sdk-team

auto-commit for 59d5e394-157c-4128-8071-9da4b5ad6cfc
  frontend/jest.config.js
Owners: @liquid-hive/frontend-team

auto-commit for c8ed60fb-b214-4d42-9f3c-32265cd897d2
  test_result.md
Owners: @liquid-hive/core-team

auto-commit for 0cff65ea-bd85-46e6-a8bb-827a3f320e08
  test_result.md
Owners: @liquid-hive/core-team

auto-commit for a695906d-d40c-4913-9391-7dae09c8913d
  pip.out
  pip2.out
  pip3.out
  pip4.out
  pip5.out
  pip6.out
  pytest.out
  pytest2.out
  pytest3.out
  pytest4.out
  pytest5.out
  pytest6.out
  pytest7.out
  pytest8.out
  pytest9.out
  pytest_arena.out
  pytest_arena2.out
  pytest_arena3.out
  pytest_final.out
  pytest_final2.out
  pytest_helm.out
  pytest_phase1_2.out
  pytest_phase1_2b.out
  pytest_phase3.out
  pytest_planner.out
  pytest_sdk.out
  pytest_sdk2.out
Owners: @liquid-hive/core-team

auto-commit for 3fbfe7a7-354e-455e-a068-dfdc9fe2a653
  .github/workflows/build-and-deploy.yaml
  .github/workflows/ci-pipeline.yml
Owners: @liquid-hive/devops-team

auto-commit for 85fa03ad-5ecc-4750-b068-256000ff4078
  frontend/tsconfig.tsbuildinfo
Owners: @liquid-hive/frontend-team

Auto-generated changes
  .emergent/emergent.yml
  .gitignore
Owners: @liquid-hive/core-team

Auto-generated changes
  .emergent/emergent.yml
  .gitignore
Owners: @liquid-hive/core-team

auto-commit for c7ec341f-d554-4fa5-a629-edf249d87016
  cleanup_plan.csv
Owners: @liquid-hive/core-team

auto-commit for baf6d43c-2276-424e-b516-af2e4a0fc362
  .gitignore
Owners: @liquid-hive/core-team

chore(repo): prune duplicates and trash via hashed plan; update .gitignore
  frontend/yarn.lock
  sdks/js/yarn.lock
Owners: @liquid-hive/frontend-team, @liquid-hive/sdk-team

auto-commit for 05a29fcf-123a-4613-ae9b-8261e1b91de5
  .github/dependabot.yml
  .github/workflows/ci-production.yml
  .github/workflows/codeql-security.yml
  .github/workflows/release-docker.yml
  ruff.toml
Owners: @liquid-hive/devops-team, @liquid-hive/core-team
