Repository dawsonblock/Liquid-Hive-Upgrade, changes with the owners that .github/CODEOWNERS names for each.
All owners: @liquid-hive/core-team, @liquid-hive/devops-team, @liquid-hive/security-team, @liquid-hive/backend-team, @liquid-hive/docs-team, @liquid-hive/frontend-team, @liquid-hive/qa-team

.github/CODEOWNERS:

# Global owners - these users will be requested for review when someone opens a pull request
* @liquid-hive/core-team

# CI/CD and Infrastructure
/.github/ @liquid-hive/devops-team
/helm/ @liquid-hive/devops-team
/k8s/ @liquid-hive/devops-team
/docker-compose.yml @liquid-hive/devops-team
/Dockerfile @liquid-hive/devops-team
/Makefile @liquid-hive/devops-team

# Security and Configuration
/config/ @liquid-hive/security-team
SECURITY.md @liquid-hive/security-team

# Core Runtime and Source
/src/ @liquid-hive/backend-team

# Documentation
/docs/ @liquid-hive/docs-team
README.md @liquid-hive/docs-team
CONTRIBUTING.md @liquid-hive/docs-team

# Frontend
/frontend/ @liquid-hive/frontend-team

# Tests
/tests/ @liquid-hive/qa-team

auto-commit for b82f105d-58d2-40df-ab22-bda363fd8efa
  .clang-format
Owners: @liquid-hive/core-team

auto-commit for dd2a089c-a513-45e4-b7fa-03fc92730adb
  .editorconfig
Owners: @liquid-hive/core-team

auto-commit for 3bdb59a1-2cad-4c4e-b135-31a5e8a44b5c
  tests/test_smoke.py
Owners: @liquid-hive/qa-team

auto-commit for 69e82ac4-209e-4575-b80f-859317e924c7
  tests/test_smoke.sh
Owners: @liquid-hive/qa-team

auto-commit for 0c4810bb-9fe2-4cbc-9322-efd4ce3c4cc4
  tests/test_smoke.sh
Owners: @liquid-hive/qa-team

auto-commit for 61c057fc-008d-4385-8c72-6a1579ea46ef
  Makefile
Owners: @liquid-hive/devops-team

Update ruff.toml
  ruff.toml
Owners: @liquid-hive/core-team

Update Makefile
  Makefile
Owners: @liquid-hive/devops-team
